<%
hide_image = false if !local_assigns[:hide_image]
product_url = review.product_url || (review.product ? review.product.url : nil) 
user_grade_icon_url = review.user_grade_icon_url
display_user_grade = @brand.review_author_display_type == ReviewAuthorDisplayType::USER_GRADE && @brand.brand_user_grade_display_type_in_reviews_index != BrandUserGradeDisplayType::NONE
display_user_grade_icon = user_grade_icon_url.present? && @brand.brand_user_grade_display_type_in_reviews_index == BrandUserGradeDisplayType::TEXT_WITH_ICON
%>
<%= content_tag_for :li, review, data: {product_url: product_url, expand_url: expand_review_path(review)} do %>
  <% if !hide_image %>
    <% if review.images_count > 0 %>
      <%
        image = review.image(1)
        if @brand.review_enable_gallery_popup
          link_class = 'photo-review-popup'
          link_data = {photo_review_popup_url: photo_review_popup_review_path(review, photo_index: 1)}
        else
          link_class = 'link-image-zoom'
          link_data = {url: image.url(:large), width: image.width(:large), height: image.height(:large)}
        end
      %>
      <%= content_tag :a, data: link_data, class: link_class + " image" do %>
        <%= image_tag image.url(:thumbnail), class: 'review-image smooth', alt: review.title, width: 90, height: 90 %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, class: "l-contents panel #{'with-image' if !hide_image} #{'photo-review' if review.images_count > 0}" do %>
    <div class="panel-heading no-border score">
      <%= content_tag :div, class: "name #{'name-with-new-tag' if review.new?} #{'name-with-camera-icon' if review.images_count > 0}" do %>
        <%= content_tag :a, data: link_data, class: link_class ? link_class + " review-title" : "review-title link-expand" do %>
          <%= review.message.first_line.html_safe %>
        <% end %>
        <%= render 'reviews/tags', review: review %>
      <% end %>
      <div class="star-wrap">
        <%= render 'reviews/score', review: review %>
      </div>
    </div>
    <div class="review-content">
      <a class="review-content-inner review-content-collapsed link-expand">
        <div class="panel-body no-border">
          <div class="message">
            <span>
              <%= review.message.first_line(Settings.max_review_chars_per_line).html_safe %>
              <%= content_tag(:span, '... 더보기', class: 'mall-link-color see-more') if review.message.multi_lines?(Settings.max_review_chars_per_line) %>
              <br>
            </span>
          </div>
        </div>
        <div class="panel-footer no-border">
          <div class="actions-container">
            <div class="inline">
              <%= content_tag :span, class: 'mall-link-color comments-link' do %>
                <span class="comments-count"><%= review.comments_count %></span>개의 댓글이 있습니다
              <% end %>
            </div>
          </div>
        </div>
      </a>
      <div class="review-content-inner review-content-expanded"></div>
    </div>
  <% end %>
  <%= content_tag :div, class: "r-contents show_all" do %>
    <div class="info-container">
      <span class="name"><%= review_user_display_name(review) %></span>
      <% if review.display_user_grade? && display_user_grade %>
        <span class="user-grade">
          &nbsp;
          <% if display_user_grade_icon %>
            <%= image_tag user_grade_icon_url, class: 'user-grade-icon' %>
          <% end %>
          <%= review.brand_user_grade %>
        </span>
      <% end %>
      <% if @brand.review_show_created_at %>
        <span class="date"><%= review.created_at.strftime("%Y. %m. %d") %></span>
      <% end %>
    </div>
     <ul class="images">
      <li>
        <%= content_tag :a, data: {product_url: product_url}, class: 'link-product' do %>
          <%= image_tag review.product_image_url, class: 'smooth', alt: review.product_name %>
          <div class="review-product-name"><%= review.product_name %></div>
        <% end %>
      </li>
    </ul>
  <% end %>
  <div class="hide-review-separate-line"></div>
<% end %>