<% product_url = @review.product_url || (@review.product ? @review.product.url : nil) %>
<% images_count = @review.images_count %>
<% content_for :content do %>
  <div id="photo-review-popup-iframe" class="fullscreen-popup review">
    <div class="fullscreen-popup-background ie-png-fix"></div>
    <div id="photo-popup-container" class="fullscreen-popup-content-container">
      <div id="photo-popup-content" class="ie-opacity-fix fullscreen-popup-content">
        <div id="photos-container">
          <%= render 'popup_photos' %>
          <%= render 'images_indicator', images_count: images_count %>
        </div>
        <% if images_count > 1 %>
          <div id="image-prev" class="navigation-button hoverable ie-opacity-fix">
            <div class="button-container">
              <div class="sprites-navigator-left ie-png-fix"></div>
            </div>
          </div>
          <div id="image-next" class="navigation-button hoverable ie-opacity-fix">
            <div class="button-container">
              <div class="sprites-navigator-right ie-png-fix"></div>
            </div>
          </div>
        <% end %>
        <div id="review-contents-container" class="ie-opacity-fix">
          <div id="info-container">
            <div class="info">
              <div class="product-thumbnail">
                <% if product_url %>
                  <%= content_tag :a, class: 'link-to-product link-iframe', data: {url: product_url} do %>
                    <%= image_tag @review.product_image_url, alt: @review.product_name, width: 70, height: 70, class: 'link-to-product' %>
                  <% end %>
                <% else %>
                  <%= content_tag :span, class: 'link-to-product' do %>
                    <%= image_tag @review.product_image_url, alt: @review.product_name, width: 70, height: 70 %>
                  <% end %>
                <% end %>
              </div>
              <div class="product-info">
                <div class="product-name">
                  <% if product_url %>
                    <%= content_tag :a, @review.product_name, class: 'link-to-product link-iframe', data: {url: product_url} %>
                  <% else %>
                    <%= content_tag :span, @review.product_name, class: 'link-to-product' %>
                  <% end %>
                </div>
                <div class="product-score">
                  <% if @brand.review_show_score %>
                    <%= render 'reviews/star_rating', score: @review.score %>
                  <% end %>
                </div>
                <div class="user-name">
                  <%= @review.user_display_name %>
                </div>
              </div>
              <div class="review-like-result ie-opacity-fix">
                <%= render 'likes_description', review: @review %>
              </div>
            </div>
          </div>
          <div id="message-container" class="ie-opacity-fix">
            <div id="message-contents">
              <%= render 'review_options', review: @review %>
              <div class="all-message ie-opacity-fix">
                <%= render 'message', review: @review %>
                <% if @brand.review_show_created_at %>
                  <div class="date ie-opacity-fix"><%= @review.created_at.strftime("%Y. %m. %d") %></div>
                <% end %>
              </div>
              <div class="feedback-container">
                <div class="panel-footer no-border">
                  <div class="actions-container">
                    <%= render 'action_likes', review: @review, hide_edit: true %>
                  </div>
                  <%= render 'comments', review: @review %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="review-detail-close" class="ie-opacity-fix">
      <div class="sprites-circle-close-button ie-png-fix"></div>
    </div>
  </div>
<% end %>
